<template>
	<v-card class="tableCard" flat>
		<v-card-title>
			<v-text-field v-model="search" append-icon="mdi-magnify" label="Search fields..." single-line hide-details />
		</v-card-title>

		<v-data-table
			class="fieldsTable"
			:headers="headers"
			:items="tableData"
			:loading="isLoading"
			:search="search"
			loading-text="Loading fields..."
			:no-data-text="hasError ? 'There was an error loading fields. Please refresh.' : 'No fields'"
		>
			<template slot="item.actions" slot-scope="props">
				<div class="actionWrapper">
					<field-reassign
						:field="getFieldFromTableRow(props.item)"
						:groups="groups"
						:loading="groupsAreLoading"
						:disabled="groupsAreLoading || groupsHaveError || !groupsAreLoaded"
						small
					/>
					<field-delete-button :field="getFieldFromTableRow(props.item)" color="error" small />
				</div>
			</template>
		</v-data-table>
	</v-card>
</template>

<script lang="ts">
import { computed, defineComponent, ref } from '@vue/composition-api';
import { DataTableHeader } from 'vuetify';
import { useGroups } from '@/store/modules/group';
import { Field } from '@/store/types';
import FieldReassign from '../admin/FieldReassign.vue';
import FieldDeleteButton from './FieldDeleteButton.vue';

interface FieldsTableRow extends Pick<Field, 'id' | 'name' | 'producerName'> {
	groupName: string;
	submittedAt: string | null;
}

export default defineComponent({
	components: { FieldReassign, FieldDeleteButton },
	props: {
		isLoading: {
			type: Boolean,
		},
		isLoaded: {
			type: Boolean,
		},
		hasError: {
			type: Boolean,
		},
		fields: {
			type: Array as () => Field[],
			default: [],
		},
	},
	setup(props, { root }) {
		const search = ref<string>('');
		const { isLoading: groupsAreLoading, isLoaded: groupsAreLoaded, hasError: groupsHaveError, groups } = useGroups(
			root.$store
		);

		const headers: DataTableHeader[] = [
			{ text: 'ID', value: 'id' },
			{ text: 'Name', value: 'name' },
			{ text: 'Group', value: 'groupName' },
			{ text: 'Producer', value: 'producerName' },
			{ text: 'Submitted date', value: 'submittedAt' },
			{ text: '', value: 'actions', sortable: false },
		];

		const tableData = computed<FieldsTableRow[]>(() =>
			props.fields.map(({ id, name, producerName, meta }) => {
				const groupName = root.$store.getters['groups/getGroupNameById'](meta.groupId) || 'no group';
				const status = root.$store.getters['resources/getFieldStatusById'](id);

				return {
					id,
					name,
					groupName,
					producerName,
					submittedAt: status ? new Date(status.timestamp).toLocaleString() : null,
				};
			})
		);

		const getFieldFromTableRow = (row: FieldsTableRow) => props.fields.find((field) => field.id === row.id);

		return {
			search,
			headers,
			tableData,
			groupsAreLoading,
			groupsAreLoaded,
			groupsHaveError,
			groups,
			getFieldFromTableRow,
		};
	},
});
</script>

<style lang="scss">
.fieldsTable.v-data-table table > tbody > tr > td:last-child {
	width: 200px;

	.actionWrapper {
		display: flex;
		gap: 8px;
	}
}
</style>
