<template>
	<v-container class="superAdmin" :class="{ 'px-0': $vuetify.breakpoint.smAndDown }">
		<v-form class="passwordForm" @submit.prevent="savePassword" @keypress.native.enter="savePassword">
			<v-row justify="end" align="center" :class="{ 'px-4': $vuetify.breakpoint.smAndDown }">
				<v-col>
					<v-text-field
						v-model="password"
						:append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
						:type="showPassword ? 'text' : 'password'"
						label="Enter super admin password"
						@click:append="showPassword = !showPassword"
					/>
				</v-col>
				<v-col cols="auto">
					<v-btn type="submit" color="primary">Save</v-btn>
				</v-col>
			</v-row>
		</v-form>

		<v-card>
			<v-tabs v-model="tab" grow>
				<v-tab v-for="item in tabItems" :key="item">{{ item }}</v-tab>
			</v-tabs>
			<v-divider />
			<v-tabs-items v-model="tab">
				<v-tab-item v-for="(item, index) in tabItems" :key="item">
					<fields-table
						v-if="index === 0"
						:is-loading="areResourcesLoading"
						:is-loaded="areResourcesLoaded"
						:has-error="hasResourcesError"
						:fields="fields"
					/>
					<stratifications-table
						v-else
						:is-loading="areResourcesLoading"
						:is-loaded="areResourcesLoaded"
						:has-error="hasResourcesError"
						:stratifications="stratifications"
					/>
				</v-tab-item>
			</v-tabs-items>
		</v-card>
	</v-container>
</template>

<script lang="ts">
import { defineComponent, onMounted, ref } from '@vue/composition-api';
import { SuperAdminService } from '@/services/storageService';
import { useAllResources } from '@/store/modules/resources';
import FieldsTable from './FieldsTable.vue';
import StratificationsTable from './StratificationsTable.vue';

export default defineComponent({
	components: { FieldsTable, StratificationsTable },
	setup(_, { root }) {
		const password = ref<string>('');
		const showPassword = ref<boolean>(false);
		const tabItems = ['Fields', 'Stratifications'];
		const tab = ref<string>(tabItems[0]);
		const {
			isLoaded: areResourcesLoaded,
			isLoading: areResourcesLoading,
			fields,
			stratifications,
			hasError: hasResourcesError,
		} = useAllResources(root.$store);

		const savePassword = () => {
			SuperAdminService.setPassword(password.value);
		};

		onMounted(() => {
			password.value = SuperAdminService.getPassword();
		});

		return {
			areResourcesLoaded,
			areResourcesLoading,
			hasResourcesError,
			password,
			showPassword,
			savePassword,
			tabItems,
			tab,
			fields,
			stratifications,
		};
	},
});
</script>

<style lang="scss">
.superAdmin .tableCard .v-data-table table {
	th {
		padding: 4px 8px;

		&:first-child {
			padding-left: 16px;
		}
		&:last-child {
			padding-right: 16px;
		}
	}

	td {
		padding: 4px 8px;
		min-width: 100px;

		&:first-child {
			word-break: break-all;
			padding-left: 16px;
		}

		&:last-child {
			padding-right: 16px;
		}

		&:nth-last-child(2) {
			width: 160px;
			font-size: 0.75rem;
		}
	}

	thead.v-data-table-header-mobile tr > th,
	tr.v-data-table__mobile-table-row > td {
		width: auto;
		padding: 16px;
	}
}

@media (min-width: 768px) {
	.superAdmin {
		&.container {
			max-width: 100%;
		}

		.passwordForm > div > :first-child {
			max-width: 350px;
		}
	}
}
</style>
