<template>
	<div class="collect-sampling">
		<div v-if="sampling" class="mb-4 d-flex">
			<v-btn rounded outlined color="primary" class="px-4 mr-3" @click="onSamplingEdit"> Edit </v-btn>
			<v-spacer />
			<v-btn v-if="!isSubmitted" icon class="px-4" @click="onSamplingDelete">
				<v-icon>mdi-delete</v-icon>
			</v-btn>
		</div>
		<div v-else-if="creating || !isSubmitted">
			<v-btn rounded color="primary" depressed class="px-4" @click.stop="onSamplingCreate"> Collect Sampling </v-btn>
		</div>

		<v-dialog persistent v-model="dialogIsVisible" max-width="50em">
			<v-card>
				<v-card-text class="flex-grow-1">
					<sampling-form
						v-if="currentSampling"
						:sampling="currentSampling"
						:samples="currentSamples"
						:location="location"
						:submitted="isSubmitted"
						:samplingCollection="samplingCollection"
						@samplingSave="onSamplingSave"
						@samplingCancel="closeSamplingDialog"
						@setSamplingComment="onSetSamplingComment"
						@setSamplingDepth="onSetSamplingDepth"
						@setSamplingResult="onSetSamplingResult"
						@deleteSample="onDeleteSample"
						@updateGeolocation="onUpdateGeolocation"
					/>
				</v-card-text>
			</v-card>
		</v-dialog>
	</div>
</template>

<script src="./CollectSamplingButton.ts" lang="ts" />
