<template>
	<router-link v-if="!!activeFieldRow" :to="`/field/${activeFieldRow.id}`">
		<div ref="popupRef" class="FieldListRowPopup-wrapper" @mousewheel="handleScroll">
			<section class="FieldListRowPopup" @mousedown="handleMouseDown">
				<div class="fieldInfo">
					<div class="text-overline">{{ activeFieldRow.producerName }} ({{ activeFieldRow.groupName }})</div>
					<div class="v-list-item__title text-h6">
						{{ activeFieldRow.name }}
					</div>
					<v-list-item-subtitle>
						<span>{{ activeFieldRow.status.state }}</span>
						<br />
						<span class="text-caption">{{ activeFieldRow.status.timestamp }}</span>
					</v-list-item-subtitle>
				</div>
				<offline-map-button :fieldId="activeFieldRow.id" />
				<v-btn @click="handleClose" icon depressed rounded large>
					<v-icon>mdi-close</v-icon>
				</v-btn>
			</section>
		</div>
	</router-link>
</template>

<script lang="ts">
import { computed, defineComponent, ref, watchEffect } from '@vue/composition-api';
import OfflineMapButton from '@/components/map/OfflineMapButton.vue';
import { FieldRow } from '@/store/types';

export default defineComponent({
	components: { OfflineMapButton },
	setup: (props, { root }) => {
		const popupRef = ref<HTMLElement | null>(null);
		const isScrolling = ref<boolean>(false);
		const activeFieldRow = computed<FieldRow | null>(() => {
			const fieldRow: FieldRow | null = root.$store.getters['fieldsView/getActiveFieldRow'];
			if (!fieldRow) {
				return null;
			}

			const { name, producerName, groupName, status, ...rest } = fieldRow;
			return {
				name,
				producerName,
				groupName,
				status: {
					state: status.state,
					timestamp: new Date(status.timestamp).toLocaleString(),
				},
				...rest,
			};
		});

		const handleMouseDown = (ev: MouseEvent | TouchEvent) => {
			ev.stopPropagation();
		};

		const handleClose = (ev: MouseEvent | TouchEvent) => {
			ev.preventDefault();
			ev.stopImmediatePropagation();
			root.$store.dispatch('fieldsView/clearActiveFieldId');
		};

		const handleScroll = (ev: MouseEvent | TouchEvent) => {
			ev.preventDefault();
			ev.stopPropagation();
		};

		const handleTouchStart = () => {
			isScrolling.value = true;
		};

		const handleTouchMove = (ev: TouchEvent) => {
			if (isScrolling.value) {
				ev.preventDefault();
				ev.stopPropagation();
			}
		};

		const handleTouchEnd = () => {
			isScrolling.value = false;
		};

		watchEffect((cleanup) => {
			const ref = popupRef.value;
			if (!ref) {
				return;
			}

			ref.addEventListener('touchstart', handleTouchStart);
			ref.addEventListener('touchmove', handleTouchMove);
			ref.addEventListener('touchend', handleTouchEnd);

			cleanup(() => {
				ref.removeEventListener('touchstart', handleTouchStart);
				ref.removeEventListener('touchmove', handleTouchMove);
				ref.removeEventListener('touchend', handleTouchEnd);
			});
		});

		return {
			popupRef,
			activeFieldRow,
			handleMouseDown,
			handleClose,
			handleScroll,
		};
	},
});
</script>

<style lang="scss">
.FieldListRowPopup-wrapper {
	position: absolute;
	left: 0;
	width: 100%;
	right: 0;
	bottom: 24px;
	display: flex;
	justify-content: center;
}

.FieldListRowPopup {
	z-index: 1;
	position: relative;
	width: calc(100% - 48px);
	max-width: 450px;
	padding: 12px;
	color: rgba(0, 0, 0, 0.87) !important;
	background-color: white;
	border-radius: 16px;
	box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	gap: 12px;

	.fieldInfo {
		min-width: 0;
		flex-shrink: 1;
	}

	.text-overline {
		line-height: unset;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.v-list-item__title {
		font-weight: 400;
	}

	.text-caption {
		display: block;
	}

	.v-btn {
		position: absolute;
		top: 0;
		right: 0;
	}
}
</style>
