<template>
	<v-list class="pa-0">
		<v-list-item @click="onExport">
			<v-list-item-title>Export CSV</v-list-item-title>
		</v-list-item>
	</v-list>
</template>

<script lang="ts">
import { defineComponent } from '@vue/composition-api';

export default defineComponent({
	emits: ['ok'],
	setup(_, { root }) {
		const onExport = () => {
			root.$emit('ok');
		};

		return {
			onExport,
		};
	},
});
</script>
