<template>
	<div class="FieldsViewControlsContainer grey lighten-4">
		<fields-view-controls-mobile v-if="$vuetify.breakpoint.smAndDown" />
		<fields-view-controls-desktop v-else />
		<v-divider />
	</div>
</template>

<script lang="ts">
import { defineComponent } from '@vue/composition-api';
import FieldsViewControlsDesktop from './FieldsViewControlsDesktop.vue';
import FieldsViewControlsMobile from './FieldsViewControlsMobile.vue';

export default defineComponent({
	components: {
		FieldsViewControlsMobile,
		FieldsViewControlsDesktop,
	},
});
</script>

<style lang="scss">
.FieldsViewControlsContainer {
	z-index: 5;
	position: fixed;
	top: 56px;
	left: 0;
	right: 0;
}

@media (min-width: 768px) {
	.FieldsViewControlsContainer {
		top: 64px;
	}
}

.v-menu__content.v-menu__content--fixed {
	max-height: calc(100% - 130px);
	background-color: #fff;
}
</style>
