<template>
	<div class="d-inline-flex">
		<v-btn @click="showEditDialog = true" icon>
			<v-icon>mdi-pencil</v-icon>
		</v-btn>

		<v-dialog v-model="showEditDialog" max-width="50em" persistent>
			<area-edit-form :area="area" @close="showEditDialog = false" />
		</v-dialog>
	</div>
</template>

<script lang="ts">
import { defineComponent, ref } from '@vue/composition-api';
import { Area } from '@/store/types';
import AreaEditForm from './AreaEditForm.vue';

export default defineComponent({
	components: { AreaEditForm },
	props: {
		area: {
			type: Object as () => Area,
			required: true,
		},
	},
	setup() {
		const showEditDialog = ref<boolean>(false);

		return {
			showEditDialog,
		};
	},
});
</script>
