<template>
	<v-card flat>
		<v-card-text class="pa-0 sm:pa-4">
			<mgl-map :layers="layers" :bounds="mapBounds" :fitBoundsOptions="{ padding: 30 }" />
			<slot />
		</v-card-text>

		<v-card-actions class="px-4 py-5 d-flex flex-wrap justify-end">
			<v-btn class="px-4" :disabled="loading" @click="$emit('back')" depressed rounded>Back</v-btn>
			<v-btn class="px-4" color="primary" :loading="loading" @click="$emit('submit')" depressed rounded>Submit</v-btn>
		</v-card-actions>
	</v-card>
</template>
<script lang="ts">
import { computed, defineComponent } from '@vue/composition-api';
import { bbox } from '@turf/turf';
import { createLayers } from '@/components/map/mapUtils';
import MglMap from '@/components/map/MglMap.vue';
import { Area } from '@/store/types';

export default defineComponent({
	components: {
		MglMap,
	},
	emits: ['back', 'submit'],
	props: {
		area: {
			type: Object as () => Area,
			required: true,
		},
		loading: {
			type: Boolean,
		},
	},
	setup(props) {
		const layers = computed(() =>
			createLayers({
				areas: [props.area as Area],
				polygon: true,
			})
		);

		return {
			mapBounds: props.area ? bbox(props.area) : null,
			layers,
		};
	},
});
</script>
