<template>
	<v-container class="field-show flex-grow-1" :class="{ 'px-0': $vuetify.breakpoint.smAndDown }">
		<v-skeleton-loader v-if="isLoading" type="card" min-height="500px" />
		<v-card v-else-if="hasError" rounded="lg">
			<v-card-text> Error loading field </v-card-text>
		</v-card>
		<v-card v-else-if="field" rounded="lg" class="overflow-hidden">
			<collect-map
				:area="areas[0]"
				:locations="{
					type: 'FeatureCollection',
					features: locations.filter(({ id }) => locationCollections[0].features.includes(id)),
				}"
			/>
			<v-card-title class="d-flex">
				{{ field.name }}
				<field-edit-button class="ml-1" :field="field" />
			</v-card-title>

			<v-card-actions>
				<create-sampling-collection-button
					:fieldId="field.id"
					:locationCollectionId="locationCollections[0] && locationCollections[0].id"
					:draftSamplingCollections="draftSamplingCollections"
				/>
			</v-card-actions>
			<v-card-text>
				<p class="mb-2 text-h6">Details</p>

				<div>
					<div class="font-weight-bold">Address</div>
					<p class="ml-2">
						<field-address :address="field.address" :areas="areas" />
					</p>
				</div>
				<div class="mb-4">
					<div class="font-weight-bold">Contact</div>
					<ul v-if="field.contactPoints.length > 0">
						<field-contact v-for="(contact, i) in field.contactPoints" :key="i" :contact="contact" />
					</ul>
					<ul v-else>
						<li>No contacts yet.</li>
					</ul>
				</div>
				<div v-if="areas && areas.length > 0" class="mb-4">
					<div class="font-weight-bold">Areas</div>
					<ul>
						<li v-for="area in areas" :key="area.id">
							<div class="d-flex align-center">
								{{ area.properties.name }}
								<span class="text-caption"> ({{ area.id }}) </span>
								<area-edit-button v-if="stratifications && !!area.properties.drawn" class="ml-1" :area="area" />
							</div>
						</li>
					</ul>
				</div>
				<div v-if="stratifications" class="mb-4">
					<div class="font-weight-bold">Stratifications</div>
					<ul v-if="stratifications.length > 0">
						<li v-for="(stratification, i) in stratifications" :key="i">
							<div v-if="stratification.name">
								{{ stratification.name }}
								<span class="text-caption">({{ stratification.id }})</span>
							</div>
							<div class="text-caption">
								{{ new Date(stratification.dateCreated).toLocaleString() }}
							</div>
						</li>
					</ul>
					<ul v-else>
						<li>No stratifications yet.</li>
					</ul>
				</div>
				<div class="mb-4">
					<div class="font-weight-bold">Sampling Collections</div>
					<ul v-if="samplingCollections.length > 0">
						<li v-for="(samplingCollection, i) in samplingCollections" :key="i">
							<div v-if="samplingCollection.name">
								<a :href="`/sampling-collection/${samplingCollection.id}`">{{ samplingCollection.id }}</a>
								({{ draftSamplingCollections.includes(samplingCollection) ? 'In progress' : 'Submitted' }})
							</div>
							<div class="text-caption">
								{{ getSamplingProgress(samplingCollection) }}
								<p class="mb-1">{{ new Date(samplingCollection.dateCreated).toLocaleString() }}</p>
							</div>
						</li>
					</ul>
					<ul v-else>
						<li>No sampling collections yet.</li>
					</ul>
				</div>
			</v-card-text>
		</v-card>
	</v-container>
</template>

<script lang="ts">
import { computed, defineComponent, SetupContext } from '@vue/composition-api';
import CollectMap from '@/components/map/CollectMap.vue';
import { useAllResources } from '@/store/modules/resources';
import { useAllSamplingCollections } from '@/store/modules/samplingCollections';
import { SamplingCollection } from '@/store/types';
import AreaEditButton from './Area/AreaEditButton.vue';
import CreateSamplingCollectionButton from './CreateSamplingCollectionButton/CreateSamplingCollectionButton.vue';
import FieldAddress from './FieldAddress/FieldAddress.vue';
import FieldContact from './FieldContact/FieldContact.vue';
import FieldEditButton from './FieldEdit/FieldEditButton.vue';

export default defineComponent({
	components: {
		CollectMap,
		FieldAddress,
		FieldContact,
		CreateSamplingCollectionButton,
		FieldEditButton,
		AreaEditButton,
	},
	props: {
		id: { type: String, required: true },
	},
	setup(props, { root }: SetupContext) {
		const { isLoading, isLoaded, hasError } = useAllResources(root.$store);
		useAllSamplingCollections(root.$store);
		const field = computed(() => root.$store.getters['resources/getFieldById'](props.id));
		const stratifications = computed(() => root.$store.getters['resources/getStratificationsByFieldId'](props.id));
		const areas = computed(() => root.$store.getters['resources/getAreasByFieldId'](props.id));
		const locationCollections = computed(() =>
			root.$store.getters['resources/getLocationCollectionsByFieldId'](props.id)
		);
		const locations = computed(() => root.$store.getters['resources/getLocationsByFieldId'](props.id));
		const draftSamplingCollections = computed(() => root.$store.getters['samplingCollections/getByFieldId'](props.id));
		const samplingCollections = computed(() => [
			...root.$store.getters['resources/getSamplingCollectionsByFieldId'](props.id),
			...draftSamplingCollections.value,
		]);

		const getSamplingProgress = (samplingCollection: SamplingCollection) =>
			`${samplingCollection.members.length} / ${locationCollections.value[0].features.length} locations collected`;

		return {
			isLoading,
			isLoaded,
			field,
			areas,
			stratifications,
			locationCollections,
			locations,
			hasError,
			draftSamplingCollections,
			samplingCollections,
			getSamplingProgress,
		};
	},
});
</script>
