<template>
	<v-card class="FieldsTable" elevation="0" tile>
		<div class="text-center py-6" v-if="isLoading">
			<v-progress-circular :size="50" color="primary" indeterminate />
		</div>
		<v-card-text v-else-if="hasError">There was an error loading resources. Please refresh.</v-card-text>
		<v-card-text v-else-if="!hasAccessToFields">You do not have access to any fields yet.</v-card-text>
		<v-card-text v-else-if="hasAccessToFields && fieldRows.length === 0">
			No fields match your filters. Try clearing some of your filters to see results.
		</v-card-text>
		<div v-else class="FieldsTable-table">
			<table border="0" cellpadding="0" cellspacing="0">
				<thead>
					<tr>
						<th v-for="column of tableHeaders" :key="column.key" class="text-left">
							<span>
								{{ column.text }}
								<v-icon
									v-if="column.sortable"
									@click="handleSort(column.key)"
									:color="getIconConfig(column.key).color"
									dense
								>
									{{ getIconConfig(column.key).icon }}
								</v-icon>
							</span>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="fieldRow of fieldRows" :key="fieldRow.id" :class="activeFieldId === fieldRow.id ? 'active' : ''">
						<td
							v-for="column of tableHeaders"
							:key="`${column.key}-${fieldRow.id}`"
							:width="tableCellComponents[column.key].width"
						>
							<component
								:is="tableCellComponents[column.key].component"
								v-bind="tableCellComponents[column.key].getProps(fieldRow)"
							/>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</v-card>
</template>

<script lang="ts">
import { computed, defineComponent, watchEffect } from '@vue/composition-api';
import FindMarkerButton from '@/components/map/FindMarkerButton.vue';
import OfflineMapButton from '@/components/map/OfflineMapButton.vue';
import { getTableCellComponents, tableHeaders } from '@/store/modules/fieldsView/configuration';
import { SortDirOptions } from '@/store/modules/fieldsView/index';
import { useGroups } from '@/store/modules/group';
import { useAllResources } from '@/store/modules/resources';
import FieldsViewControls from '../FieldsViewControls/FieldsViewControlsDesktop.vue';
import FieldStatusCell from './FieldStatusCell.vue';
import TextCell from './TextCell.vue';

export default defineComponent({
	components: {
		FieldsViewControls,
		FieldStatusCell,
		TextCell,
		OfflineMapButton,
		FindMarkerButton,
	},
	setup(_, { root }) {
		const { isLoaded: areGroupsLoaded, isLoading: areGroupsLoading, hasError: groupsHaveError } = useGroups(
			root.$store
		);
		const {
			isLoaded: areResourcesLoaded,
			isLoading: areResourcesLoading,
			hasError: resourcesHaveError,
			fields,
		} = useAllResources(root.$store);
		const isLoaded = computed(() => areGroupsLoaded.value && areResourcesLoaded.value);
		const isLoading = computed(() => areGroupsLoading.value || areResourcesLoading.value);
		const hasError = computed(() => groupsHaveError.value || resourcesHaveError.value);
		const fieldRows = computed(() => root.$store.getters['fieldsView/getFieldRows']);
		const sortBy = computed(() => root.$store.getters['fieldsView/getSortBy']);
		const sortDir = computed(() => root.$store.getters['fieldsView/getSortDir']);
		const activeFieldId = computed(() => root.$store.getters['fieldsView/getActiveFieldId']);
		const tableCellComponents = getTableCellComponents();
		const activeFieldRowVisible = computed<boolean>(() => root.$store.getters['fieldsView/getActiveFieldRowVisible']);

		const getIconConfig = (key: any) => {
			if (sortBy.value !== key) {
				return {
					icon: 'mdi-arrow-down',
					color: 'grey lighten-1',
				};
			} else {
				return {
					color: 'grey darken-3',
					icon: sortDir.value === 'ASC' ? 'mdi-arrow-up' : 'mdi-arrow-down',
				};
			}
		};

		const getNextSortDir = (sortDir: SortDirOptions) => {
			switch (sortDir) {
				case 'DESC':
					return 'ASC';
				case 'ASC':
					return null;
				case null:
				default:
					return 'DESC';
			}
		};

		const handleSort = (key: string) => {
			if (sortBy.value !== key) {
				root.$store.dispatch('fieldsView/changeSort', { sortBy: key, sortDir: 'DESC' });
			} else {
				const nextSortDir = getNextSortDir(sortDir.value);
				root.$store.dispatch('fieldsView/changeSort', {
					sortBy: nextSortDir === null ? null : key,
					sortDir: nextSortDir,
				});
			}
		};

		const hasAccessToFields = computed(() => isLoaded.value && fields.value.length > 0);

		watchEffect(() => {
			if (!activeFieldRowVisible.value) {
				root.$store.dispatch('fieldsView/clearActiveFieldId');
			}
		});

		return {
			isLoading,
			isLoaded,
			hasError,
			sortBy,
			sortDir,
			getNextSortDir,
			handleSort,
			fieldRows,
			tableHeaders: Object.values(tableHeaders),
			tableCellComponents,
			hasAccessToFields,
			getIconConfig,
			activeFieldId,
		};
	},
});
</script>

<style lang="scss">
.FieldsTable {
	height: 100%;
	overflow-y: auto;
}

.FieldsTable-table {
	padding: 0px 16px 12px 16px;

	table {
		border-collapse: separate;
		width: 100%;

		thead {
			position: sticky;
			top: 0;
			z-index: 1;

			th {
				height: 60px;
				font-weight: 500;
				background-color: white;
				border-bottom: 2px solid #ccc;

				span {
					position: relative;
					top: 4px;
				}
			}
		}

		tbody tr {
			td {
				border-bottom: 1px solid #ccc;

				a {
					text-decoration: none;
				}
			}

			&.active {
				background-color: #bbdefb;
			}
		}

		tr > th,
		tr > td {
			padding: 4px 2px;

			&:last-child,
			&:nth-last-child(2) {
				padding: 0;
			}
		}
	}
}
</style>
