<template>
	<v-list-item-content>
		<router-link :to="`field/${field.id}`">
			<v-list-item-title>
				{{ field.name }}
			</v-list-item-title>
		</router-link>
		<v-list-item-subtitle>
			<span class="font-weight-medium">Group: </span>{{ group ? group.name : 'Base Group' }}
		</v-list-item-subtitle>
		<v-list-item-subtitle v-if="group && group.path">
			{{ group.path }}
		</v-list-item-subtitle>
	</v-list-item-content>
</template>

<script lang="ts">
import { defineComponent } from '@vue/composition-api';
import { Field, Group } from '@/store/types';

export default defineComponent({
	props: {
		field: {
			required: true,
			type: Object as () => Field,
		},
		group: {
			required: false,
			type: Object as () => Group | undefined,
		},
	},
	setup() {
		return {};
	},
});
</script>

<style></style>
