<template>
	<div class="d-inline-flex">
		<v-btn class="px-4" @click="showConfirmationDialog = true" v-bind="$attrs"> Reassign </v-btn>

		<confirm-dialog
			v-model="showConfirmationDialog"
			:title="`Assign ${field.name} to Group`"
			:error="hasError ? 'An error occurred while attempting to reassign the group. Please try again.' : null"
			:loading="isLoading"
			button="Confirm Reassign"
			button-color="warning"
			@confirm="handleConfirmReassign"
			@cleanup="clearError"
		>
			<v-select
				v-model="selectedGroup"
				:items="groupOptions"
				:item-text="(group) => `${group.name} - ${group.path}`"
				item-value="id"
				label="Choose Group"
				no-data-text="You lack permission to assign this field to other groups."
			/>
		</confirm-dialog>
	</div>
</template>

<script lang="ts">
import { computed, defineComponent, ref } from '@vue/composition-api';
import ConfirmDialog from '@/components/dialog/ConfirmDialog.vue';
import { useReassign } from '@/store/modules/reassign';
import { Field, Group } from '@/store/types';

export default defineComponent({
	components: { ConfirmDialog },
	inheritAttrs: false,
	props: {
		field: {
			required: true,
			type: Object as () => Field,
		},
		groups: {
			required: true,
			type: Array as () => Group[],
		},
	},
	setup(props, { root }) {
		const selectedGroup = ref(null);
		const showConfirmationDialog = ref(false);
		const { reassignField, clearError, isLoading, hasError } = useReassign(root.$store);
		const groupOptions = computed(() => props.groups.filter((group) => group.id !== props.field.meta.groupId));

		return {
			handleConfirmReassign: async () => {
				clearError();

				const success = await reassignField({
					groupId: selectedGroup.value ?? '',
					fieldId: props.field.id,
				});

				if (success) {
					root.$store.dispatch('resources/getAllResources');
					showConfirmationDialog.value = false;
				}
			},
			clearError,
			showConfirmationDialog,
			selectedGroup,
			groupOptions,
			isLoading,
			hasError,
		};
	},
});
</script>

<style></style>
