<template>
	<v-dialog v-model="open" max-width="50em" :persistent="persistent">
		<v-card>
			<v-toolbar v-if="title" color="grey lighten-2" flat>
				<v-toolbar-title>{{ title }}</v-toolbar-title>
			</v-toolbar>

			<v-divider />

			<v-alert v-if="!loading && error" type="error" class="ma-4">
				{{ error }}
			</v-alert>

			<v-card-text>
				<slot name="content-header" />
				<div v-if="message || $slots.default" class="d-flex justify-center align-center mt-4 mx-2">
					<v-icon :color="iconColor">{{ icon }}</v-icon>
					<v-divider vertical class="mx-2" />
					<p v-if="message" class="mt-0 mb-0">
						{{ message }}
					</p>
					<slot />
				</div>
				<slot name="content-footer" />
			</v-card-text>

			<v-divider />

			<v-card-actions class="d-flex flex-wrap justify-end">
				<v-btn text rounded @click="open = false" :disabled="loading"> Cancel </v-btn>
				<v-btn v-if="button" :color="buttonColor" text rounded @click="$emit('confirm')" :loading="loading">
					{{ button }}
				</v-btn>
			</v-card-actions>
		</v-card>
	</v-dialog>
</template>

<script lang="ts">
import { computed, defineComponent, watch } from '@vue/composition-api';

export default defineComponent({
	props: {
		value: {
			type: Boolean,
		},
		title: {
			type: String,
		},
		error: {
			type: String,
		},
		loading: {
			type: Boolean,
		},
		icon: {
			type: String,
			default: 'mdi-exclamation-thick',
		},
		iconColor: {
			type: String,
			default: 'warning',
		},
		message: {
			type: String,
		},
		button: {
			type: String,
		},
		buttonColor: {
			type: String,
			default: 'green',
		},
		cleanup: {
			type: String,
		},
		persistent: {
			type: Boolean,
			default: true,
		},
	},
	emits: ['cancel', 'confirm', 'cleanup'],
	setup(props, { root, emit }) {
		const open = computed<boolean>({
			get: () => props.value ?? false,
			set: (value: boolean) => emit('input', value),
		});

		watch(
			() => [open.value, props.cleanup],
			([value]) => {
				if (!value) {
					if (props.cleanup) {
						root.$store.dispatch(props.cleanup);
					} else {
						emit('cleanup');
					}
				}
			}
		);

		return {
			open,
		};
	},
});
</script>

<style lang="scss"></style>
