<template>
	<v-navigation-drawer :value="value" @input="$emit('input', $event)" app temporary>
		<v-list nav>
			<v-list-item to="/fields" :inactive="$router.currentRoute.path === '/fields'">
				<v-list-item-title>Fields</v-list-item-title>
			</v-list-item>

			<v-list-item to="/field/new">
				<v-list-item-title>Add Field</v-list-item-title>
			</v-list-item>

			<v-list-item to="/sampling-collection">
				<v-list-item-title>Sampling Collections</v-list-item-title>
			</v-list-item>

			<v-list-item to="/admin">
				<v-list-item-title>Admin</v-list-item-title>
			</v-list-item>
		</v-list>

		<template v-slot:append>
			<div dark class="grey--text text-caption ml-4 mb-2">
				{{ version }}
			</div>
		</template>
	</v-navigation-drawer>
</template>

<script>
import { defineComponent } from '@vue/composition-api';

export default defineComponent({
	props: {
		value: {
			type: Boolean,
		},
	},
	setup: () => {
		const lcl = JSON.parse(process.env.VUE_APP_LCL);
		const version = `Version: ${lcl.shortHash}`;

		return {
			version,
		};
	},
});
</script>
