<template>
	<v-form v-model="isFormValid" @submit.prevent="handleSubmit">
		<v-card>
			<v-card-text class="form-content">
				<v-text-field
					label="Name"
					v-model="name"
					:rules="[isNotEmpty('Please enter the name'), hasMinimumLength(4, 'Name must be at least 4 characters long')]"
					validate-on-blur
				/>
				<v-text-field label="Producer name" v-model="producerName" />
				<v-select
					label="Group"
					v-model="group"
					:items="groups"
					:item-text="(group) => `${group.name} - ${group.path}`"
					item-value="id"
					no-data-text="You don't have any groups."
					:loading="groupsAreLoading"
					:rules="[isNotEmpty('Please select a group')]"
				/>
				<address-form v-model="address" />
				<contact-points-form :value="contactPoints" />
			</v-card-text>

			<v-card-actions class="px-4 pb-5 d-flex flex-wrap justify-end">
				<v-btn type="button" class="px-4" href="/fields" link depressed rounded>Cancel</v-btn>
				<v-btn type="submit" class="px-4" color="primary" :disabled="!isFormValid" depressed rounded>Next</v-btn>
			</v-card-actions>
		</v-card>
	</v-form>
</template>

<script lang="ts">
import { computed, defineComponent, ref } from '@vue/composition-api';
import { useGroups } from '@/store/modules/group';
import { Address, ContactPoint, Field, ResourceMeta } from '@/store/types';
import { hasMinimumLength, isNotEmpty } from '@/utils/rules';
import AddressForm from '../FieldEdit/AddressForm.vue';
import ContactPointsForm from '../FieldEdit/ContactPointsForm.vue';

export default defineComponent({
	components: { AddressForm, ContactPointsForm },
	emits: ['submit'],
	setup(props, { root, emit }) {
		const isFormValid = ref<boolean>(false);
		const name = ref<string>('');
		const producerName = ref<string>('');
		const group = ref<string>('');
		const address = ref<Address>();
		const contactPoints = ref<Array<ContactPoint>>([]);

		const { isLoading: groupsAreLoading, groups } = useGroups(root.$store);

		const field = computed<Partial<Field>>(() => ({
			name: name.value,
			producerName: producerName.value,
			address: address.value,
			contactPoints: contactPoints.value,
			meta: {
				groupId: group.value,
			} as ResourceMeta,
		}));

		const handleSubmit = async () => {
			if (!isFormValid.value) {
				return;
			}

			emit('submit', field.value);
		};

		return {
			isFormValid,
			name,
			producerName,
			group,
			address,
			contactPoints,
			groupsAreLoading,
			groups,
			handleSubmit,
			hasMinimumLength,
			isNotEmpty,
		};
	},
});
</script>

<style lang="scss">
.form-content .v-input.v-text-field {
	margin-top: 8px;
}
</style>
