<template>
	<v-card class="my-2" outlined>
		<v-card-title class="subtitle-1">Address</v-card-title>
		<v-card-text>
			<v-row>
				<v-col class="column" cols="12" sm="6">
					<v-text-field label="Street" v-model="streetAddress" />
				</v-col>
				<v-col class="column" cols="12" sm="6">
					<v-text-field label="City / Locality" v-model="addressLocality" />
				</v-col>
			</v-row>
			<v-row>
				<v-col class="column" cols="12" sm="5">
					<v-text-field label="State / Region" v-model="addressRegion" />
				</v-col>
				<v-col class="column" cols="12" sm="5">
					<v-text-field label="Country" v-model="addressCountry" />
				</v-col>
				<v-col class="column" cols="12" sm="2">
					<v-text-field label="Postal code" v-model="postalCode" />
				</v-col>
			</v-row>
		</v-card-text>
	</v-card>
</template>

<script lang="ts">
import { computed, defineComponent, onMounted, ref, watch } from '@vue/composition-api';
import { Address } from '@/store/types';
import { isNotEmpty } from '@/utils/rules';

export default defineComponent({
	props: {
		value: {
			type: Object as () => Address,
		},
	},
	setup(props, { emit }) {
		const streetAddress = ref<string>('');
		const addressLocality = ref<string>('');
		const addressRegion = ref<string>('');
		const addressCountry = ref<string>('');
		const postalCode = ref<string>('');

		const address = computed<Address>(() => ({
			streetAddress: streetAddress.value,
			addressLocality: addressLocality.value,
			addressRegion: addressRegion.value,
			addressCountry: addressCountry.value,
			postalCode: postalCode.value,
		}));

		const assignValues = (address?: Address) => {
			streetAddress.value = address?.streetAddress ?? '';
			addressLocality.value = address?.addressLocality ?? '';
			addressRegion.value = address?.addressRegion ?? '';
			addressCountry.value = address?.addressCountry ?? '';
			postalCode.value = address?.postalCode ?? '';
		};

		onMounted(() => {
			assignValues(props.value);
		});

		watch(
			() => props.value,
			(address) => assignValues(address)
		);

		watch(
			() => address.value,
			(address) => emit('input', address)
		);

		return {
			streetAddress,
			addressLocality,
			addressRegion,
			addressCountry,
			postalCode,
			isNotEmpty,
		};
	},
});
</script>

<style lang="scss">
.row > .column {
	padding-top: 0;
	padding-bottom: 0;
}
</style>
