<template>
	<v-card class="contact-points-form mt-5" outlined>
		<v-card-title class="subtitle-1">Contact points</v-card-title>
		<v-card-text>
			<v-card v-for="(item, index) in contactPoints" :key="index" class="mb-5" outlined>
				<v-card-text>
					<v-row>
						<v-col class="column" cols="12" sm="6" md="4">
							<v-text-field label="Name" v-model="item.name" />
						</v-col>
						<v-col class="column" cols="12" sm="6" md="4">
							<v-text-field label="Telephone" v-model="item.telephone" type="tel" />
						</v-col>
						<v-col class="column" cols="12" sm="6" md="4">
							<v-text-field
								label="Email"
								v-model="item.email"
								type="email"
								:rules="[(val) => !isNotEmpty()(val) || isValidEmailAddress('Please input valid email address')(val)]"
								validate-on-blur
							/>
						</v-col>
						<v-col class="column" cols="12" sm="6" md="4">
							<v-text-field label="Contact type" v-model="item.contactType" />
						</v-col>
						<v-col class="column" cols="12" sm="6" md="4">
							<v-text-field label="Organization" v-model="item.organization" />
						</v-col>
						<v-col class="column">
							<v-btn
								class="mt-3"
								color="error"
								:small="$vuetify.breakpoint.smAndDown"
								:ripple="false"
								@click="handleRemoveContactPoint(index)"
								outlined
							>
								Remove
							</v-btn>
						</v-col>
					</v-row>
				</v-card-text>
			</v-card>

			<v-btn color="primary" :small="$vuetify.breakpoint.smAndDown" @click="handleAddNewContactPoint" outlined>
				Add new contact
			</v-btn>
		</v-card-text>
	</v-card>
</template>

<script lang="ts">
import { defineComponent, onMounted, ref, watch } from '@vue/composition-api';
import { ContactPoint } from '@/store/types';
import { isNotEmpty, isValidEmailAddress } from '@/utils/rules';

export default defineComponent({
	props: {
		value: {
			type: Array as () => Array<ContactPoint>,
			required: true,
		},
	},
	setup(props) {
		const contactPoints = ref<Array<ContactPoint>>([]);

		const handleAddNewContactPoint = () => {
			contactPoints.value.push({
				name: '',
				telephone: '',
				email: '',
				contactType: '',
				organization: '',
			});
		};

		const handleRemoveContactPoint = (index: number) => {
			contactPoints.value.splice(index, 1);
		};

		const assignValues = (value: Array<ContactPoint>) => {
			contactPoints.value = value;
		};

		onMounted(() => {
			assignValues(props.value);
		});

		watch(
			() => props.value,
			(contactPoints) => assignValues(contactPoints)
		);

		return {
			contactPoints,
			handleAddNewContactPoint,
			handleRemoveContactPoint,
			isNotEmpty,
			isValidEmailAddress,
		};
	},
});
</script>

<style lang="scss">
.contact-points-form .row {
	.col:first-child {
		padding: 0;
	}

	.column {
		padding-top: 0;
		padding-bottom: 0;
	}
}
</style>
