<template>
	<div class="d-inline-flex">
		<v-btn @click="showEditDialog = true" icon>
			<v-icon>mdi-pencil</v-icon>
		</v-btn>

		<v-dialog v-model="showEditDialog" max-width="50em" persistent>
			<field-edit-form :field="field" @close="showEditDialog = false" />
		</v-dialog>
	</div>
</template>

<script lang="ts">
import { defineComponent, ref } from '@vue/composition-api';
import { Field } from '@/store/types';
import FieldEditForm from './FieldEditForm.vue';

export default defineComponent({
	components: {
		FieldEditForm,
	},
	props: {
		field: {
			type: Object as () => Field,
			required: true,
		},
	},
	setup() {
		const showEditDialog = ref<boolean>(false);

		return {
			showEditDialog,
		};
	},
});
</script>
