<template>
	<div v-frag>
		<div class="MapOverlay"></div>

		<section ref="sheetRef" class="FieldsListSheet">
			<span class="FieldsListSheet-handle" @click="expand">
				{{ isLoading ? 'Loading results...' : numberOfResults === 1 ? '1 result' : `${numberOfResults} results` }}
			</span>

			<fields-list />
		</section>

		<v-btn
			:class="`MapButton white--text ${mapButtonVisible ? 'active' : ''}`"
			class="MapButton white--text"
			color="black"
			@click="collapse"
			large
			fixed
			rounded
			depressed
		>
			<v-icon left>mdi-map</v-icon>
			Map
		</v-btn>
	</div>
</template>

<script lang="ts">
import { computed, defineComponent, onMounted, onUnmounted, ref, watch, watchEffect } from '@vue/composition-api';
import OfflineMapButton from '@/components/map/OfflineMapButton.vue';
import { FIELDS_MAP_ID } from '@/constants';
import { useGroups } from '@/store/modules/group';
import { useAllResources } from '@/store/modules/resources';
import debounce from '@/utils/debounce';
import FieldsList from './FieldsList.vue';

export interface FieldsListSheetProps {
	collapse: () => void;
	expand: () => void;
}

export default defineComponent({
	components: {
		FieldsList,
		OfflineMapButton,
	},
	setup(props, { root }) {
		const sheetRef = ref<HTMLElement | null>(null);
		const viewportHeight = ref<number>(0);
		const mapButtonVisible = ref<boolean>(false);
		const numberOfResults = computed(() => root.$store.getters['fieldsView/getFieldRowsLength']);
		const pointToFly = computed<[number, number] | null>(() =>
			root.$store.getters['map/getPointToFlyByMapId'](FIELDS_MAP_ID)
		);
		const { isLoading: areResourcesLoading } = useAllResources(root.$store);
		const { isLoading: areGroupsLoading } = useGroups(root.$store);
		const isLoading = computed(() => areGroupsLoading.value || areResourcesLoading.value);

		const collapse = () => {
			sheetRef.value?.parentElement?.scroll(0, 0);
		};

		const expand = () => {
			sheetRef.value?.parentElement?.scroll(0, viewportHeight.value);
		};

		const handleResize = () => {
			viewportHeight.value = sheetRef.value?.parentElement?.clientHeight ?? 0;
		};

		const resetScroll = () => {
			sheetRef.value?.parentElement?.scroll(0, viewportHeight.value / 2 - 72);
		};

		const setMapButtonVisible = () => {
			const scrollTop = sheetRef.value?.parentElement?.scrollTop ?? 0;
			mapButtonVisible.value = scrollTop > (viewportHeight.value * 3) / 4 - 72;
		};

		const debouncedSetMapButtonVisible = debounce(setMapButtonVisible, 250);

		const setMapButtonHidden = () => {
			mapButtonVisible.value = false;
		};

		// Collapse sheet if click FindMarkerButton
		watch(
			() => pointToFly.value,
			() => {
				if (pointToFly.value) {
					collapse();
				}
			}
		);

		watchEffect((cleanup) => {
			sheetRef.value?.parentElement?.addEventListener('scroll', debouncedSetMapButtonVisible);
			sheetRef.value?.parentElement?.addEventListener('scroll', setMapButtonHidden);

			cleanup(() => {
				sheetRef.value?.parentElement?.removeEventListener('scroll', debouncedSetMapButtonVisible);
				sheetRef.value?.parentElement?.removeEventListener('scroll', setMapButtonHidden);
			});
		});

		watchEffect((cleanup) => {
			window.addEventListener('resize', handleResize);

			cleanup(() => {
				window.removeEventListener('resize', handleResize);
			});
		});

		onMounted(() => {
			handleResize();
			resetScroll();
		});

		onUnmounted(() => {
			window.history.scrollRestoration = 'manual';
		});

		return {
			isLoading,
			sheetRef,
			numberOfResults,
			mapButtonVisible,
			collapse,
			expand,
		};
	},
});
</script>

<style lang="scss">
.MapOverlay {
	z-index: -1;
	height: calc(100% - 72px);
}

.FieldsListSheet {
	z-index: 2;
	position: inherit;
	min-height: calc(100% + 72px);
	padding-bottom: 80px;
	background-color: white;
	border-top-left-radius: 24px;
	border-top-right-radius: 24px;
	box-shadow: 0 -4px 6px -1px rgb(0 0 0 / 0.1), 0 -2px 4px -2px rgb(0 0 0 / 0.1);
	overflow: hidden;

	.FieldsListSheet-handle {
		position: relative;
		padding-top: 6px;
		height: 72px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		cursor: pointer;

		&::before {
			content: '';
			position: absolute;
			top: 6px;
			left: 50%;
			transform: translateX(-50%);
			display: block;
			width: 40px;
			height: 4px;
			border-radius: 9999px;
			background-color: rgba(32, 32, 32, 0.2);
		}
	}
}

.MapButton {
	z-index: 3;
	left: 50%;
	transform: translateX(-50%);
	text-transform: capitalize;
	bottom: 32px;
	transition: opacity 500ms;
	opacity: 0;
	pointer-events: none;

	&.active {
		opacity: 1;
		pointer-events: all;
	}

	svg {
		margin-right: 4px;
	}
}
</style>
