<template>
	<v-card class="FieldListRow lighten-4" :ripple="false" @click="handleCardClick" :color="color">
		<v-list-item three-line color="primary">
			<v-list-item-content>
				<div class="text-overline">{{ fieldRow.producerName }} ({{ fieldRow.groupName }})</div>
				<v-list-item-title class="text-h5 mb-1">
					{{ fieldRow.name }}
				</v-list-item-title>
				<v-list-item-subtitle>
					{{ fieldRow.status.state }}
					<br />
					<span class="text-caption">{{ new Date(fieldRow.status.timestamp).toLocaleString() }}</span>
				</v-list-item-subtitle>
			</v-list-item-content>
			<offline-map-button :fieldId="fieldRow.id" />
			<find-marker-button
				:mapId="FIELDS_MAP_ID"
				:fieldId="fieldRow.id"
				:coordinates="fieldRow.lngLat"
				class="findMarkerButton"
			/>
		</v-list-item>
	</v-card>
</template>

<script lang="ts">
import { computed, defineComponent } from '@vue/composition-api';
import FindMarkerButton from '@/components/map/FindMarkerButton.vue';
import OfflineMapButton from '@/components/map/OfflineMapButton.vue';
import { FIELDS_MAP_ID } from '@/constants';
import { FieldRow } from '@/store/types';

export default defineComponent({
	components: {
		OfflineMapButton,
		FindMarkerButton,
	},
	props: {
		fieldRow: {
			type: Object as () => FieldRow,
			required: true,
		},
	},
	setup({ fieldRow }, { root }) {
		const color = computed<string>(() => {
			const activeFieldId = root.$store.getters['fieldsView/getActiveFieldId'];
			return activeFieldId === fieldRow.id ? 'blue' : '';
		});

		const handleCardClick = () => {
			root.$router.push(`/field/${fieldRow.id}`);
		};

		return {
			color,
			handleCardClick,
			FIELDS_MAP_ID,
		};
	},
});
</script>

<style lang="scss">
.FieldListRow {
	a {
		text-decoration: none;
	}

	.text-overline {
		line-height: 1.6rem !important;
	}

	.findMarkerButton {
		margin-top: 16px;
	}
}
</style>
