<template>
	<div class="OfflineMapButton">
		<span v-if="showCaption" class="caption">Offline</span>
		<!-- readonly because v-switch won't honor our input-value if we let it handle user interaction events. A hack to workaround a bug. -->
		<v-switch
			inset
			:loading="offlineMapAsyncState.isLoading"
			:disabled="disabled"
			@click="handleClick"
			readonly
			:input-value="offlineMapAsyncState.isLoaded"
			:value="true"
		/>
		<v-snackbar v-model="offlineMapAsyncState.hasError" color="error"> Failed to download field. </v-snackbar>
	</div>
</template>

<script lang="ts">
import { computed, defineComponent } from '@vue/composition-api';
import { useOfflineMapAsyncState } from '@/store/modules/offlineMaps';

export default defineComponent({
	props: {
		fieldId: {
			type: String,
			required: true,
		},
		showCaption: {
			type: Boolean,
			default: true,
		},
	},
	setup(props, { root }) {
		const offlineMapAsyncState = computed(() => useOfflineMapAsyncState(root.$store)(props.fieldId));
		const disabled = computed(() => offlineMapAsyncState.value.isLoading || offlineMapAsyncState.value.isLoaded);

		const handleClick = (ev: MouseEvent | TouchEvent) => {
			ev.preventDefault();
			ev.stopPropagation();
			if (!offlineMapAsyncState.value.isLoading && !offlineMapAsyncState.value.isLoaded) {
				root.$store.dispatch('offlineMaps/fetchOfflineMap', props.fieldId);
			}
		};

		return {
			disabled,
			handleClick,
			offlineMapAsyncState,
		};
	},
});
</script>

<style lang="scss">
.OfflineMapButton {
	display: flex;
	flex-direction: column;
	justify-content: center;

	.v-input--selection-controls {
		margin-top: 0;
	}

	.v-messages {
		display: none;
	}
}
</style>
