<template>
	<v-container class="maxw-40">
		<p class="mt-4 mb-6">
			You are logged in as
			<strong>{{ user.email }}</strong
			>.
		</p>

		<div class="d-flex justify-end">
			<v-btn text @click="goToEditSelf">Edit</v-btn>
			<v-btn color="primary" @click="logout">Logout</v-btn>
		</div>
	</v-container>
</template>

<script>
export default {
	computed: {
		user() {
			return this.$store.getters['auth/user'];
		},
		isShapeshifting() {
			return this.$store.getters['auth/isShapeshifting'];
		},
	},
	methods: {
		async logout() {
			this.$store.dispatch('auth/logout');
			this.$router.push('/auth/login');
		},
		goToEditSelf() {
			// eslint-disable-next-line
      const id = this.$store.state.auth.user._id;
			this.$router.push(`/users/${id}/edit`);
		},
	},
	data() {
		return {
			showFeedback: true,
		};
	},
};
</script>
